image:
  - Ubuntu1804
  - macOS

platform: x64

branches:
  only:
    - master
    - develop

artifacts:
  - path: dist/**/*.tgz
    name: wantarr

install:
  - go version
  - go env
  - make vendor

build_script:
  - make build
  - export build=$(find dist/* -type d | sed 's!.*/!!')
  - echo $build
  - cd dist/$build
  - tar -czf $build.tgz wantarr